<html>
    <head>
        <title>Regtister</title>
    </head>
    <body>
        <h1>Register</h1>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="home_address">Home Address:</label>
            <input type="text" name="home_address" id="home_address" required><br><br>

            <label for="receipt_name">Receipt name:</label>
            <input type="text" name="receipt_name" id="receipt_name" required><br><br>

            <label for="target_date">Target date</label>
            <input type="date" id="target_date" name="target_date"><br><br>
            
            <button type="submit">Register</button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </body>
</html>